body{
    text-align: center
}

table{
    margin: auto;
}

button{
    width: 99px;
    height: 80px;
    background-color: pink;
    font-size: 25px;
    border-radius: 10px;
}

input{
    border: 3px solid black;
    font-size: 30px;
    height: 50px;
    width: auto;
    border-radius: 10px;
}

.calculator{
    display: inline-block;
}